.DS_Store
**/.vscode
**/a.out
**/*.dSYM
**/?
.idea/
**/.code-workspace
yahoo/

# 他人から拝借しているもの
atcoder/abc/DigitSum.cpp
atcoder/abc/SegmentTree.cpp
atcoder/abc/atcoder/*
atcoder/agc/atcoder/*
atcoder/acl/atcoder/*

atcoder/ahc/tools_001/*